<div>
  <%= form_for @share, url: {action: "#{@url}"} do |b| %>
    <fieldset>
      <legend><%= @legend %></legend>
      <div class="form-group">
        <%= b.label :due_date %>
        <%= b.date_field :due_date %>
      </div class="form-group">
      <div class="form-group">
        <%= b.label :share_amount %>
        <%= b.text_field :share_amount %>
      </div>
      <div class="form-group">
        <%= b.label :paid %>
        <%= b.text_field :paid %>
      </div>
    </fieldset>
  <%= b.submit("Save") %>
<% end%>
<%= link_to "View All Shares", household_bill_shares_path, class: "btn btn-default" %>
<%= link_to "Back to home page", root_path, class: "btn btn-default" %>
</div>
