<div>
  <%= form_for @share, url: {action: "#{@url}"} do |b| %>
    <fieldset>
      <legend><%= @legend %></legend>
      <div class="form-group">
        <%= b.label :due_date %>
        <%= b.date_field :due_date %>
      </div class="form-group">
      <div class="form-group">
        <%= b.label :share_amount %>
        <%= b.text_field :share_amount %>
      </div>
      <div class="form-group">
        <%= b.label :paid %>
        <%= b.check_box :paid %>
      </div>
      <% if @share.paid == nil %>
        <div class="form-group">
          <%= b.label :payment_type %>
          <%= b. text_field :payment_type %>
        </div>
        <div class="form-group">
          <%= b.label :date_received %>
          <%= b.date_field :date_received %>
        </div>
        <div class="form-group">
          <%= b.label :paid %>
          <%= b. check_box :paid %>
        </div>
        <div class="form-group">
          <%= b.label :payment_type %>
          <%= b. collection_select(:share, Share.all, :id, :payment_type) %>
        </div>
        <div class="form-group">
          <%= b.label :date_received %>
          <%= b.date_field :date_received %>
        </div>
      <% end %>

    </fieldset>
  <%= b.submit("Save") %>
<% end%>
<%= link_to "View All Shares", household_bill_shares_path, class: "btn btn-default" %>
<%= link_to "Back to home page", root_path, class: "btn btn-default" %>
</div>
