<div>
  <h3>Shares for <%= @specific_bill.name %></h3>
</div>
<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>User</th>
          <th>Share Amount</th>
          <th>Paid?</th>
          <th>Share Details</th>
        </tr>
        <tr>
          <% @specific_bill.shares.each do |share| %>
            <td><%= share.user.username %></td>
            <td><%= number_to_currency(share.share_amount) %></td>
            <td><%= share.paid ? 'yes' : 'no' %></td>
            <td><%= link_to "Update Share", household_bill_share_share_status_path(@specific_household.id, @specific_bill.id, share.id), class: "btn btn-default"%></td>
          </tr>
          <% end %>
      </tbody>
    </table>
    <%= link_to "View All Bills for #{@specific_household.name}", household_bills_path(@specific_household.id), class: "btn btn-default" %>
    <%= link_to "Add Shares to #{@specific_bill.name}", new_household_bill_share_path(@specific_household.id, @specific_bill.id), class: "btn btn-default" %>
  </div>
</div>
