<h3>Shares for <%= @specific_bill.name %></h3>
<ul>
<% @specific_bill.shares.each do |share| %>
  <li><%= share.user.username %>'s Amount: <%= link_to "#{share.share_amount}", household_bill_share_path(share.id, @specific_household.id, @specific_bill.id) %> Paid?:<%= share.paid ? 'yes' : 'no' %><%= link_to "Update Share", edit_household_bill_share_path(share.id, @specific_household.id, @specific_bill.id), class: "btn btn-default"%></li>
<% end %>
</ul>
