
<h4><li>Name: <%= @specific_bill.name %></li></h4>
<ul>
<li>Name: <%= @specific_bill.name %></li>
<li>Total Amount of Bill: <%= @specific_bill.total_amount %></li>
<li>Bill Due Date: <%= @specific_bill.due_date.to_date %></li>
<li>Paid? <%= @specific_bill.paid ? 'yes' : 'no' %></li>
</ul>

<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>Name</th>
          <th>Amount</th>
          <th>Paid?</th>
          <th>Bill Due Date</th>
        </tr>
        <tr>
          <td>Bill Name: <%= @bill.name %></td>
          <td>Total Amount: <%= @bill.total_amount %></td>
          <td>Payment Status of Bill: <%= @bill.paid %></td>
          <td>Bill Due Date: <%= @date.strftime("%m/%d/%Y") %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ul>
<% @specific_bill.shares.each do |share| %>

  <li><%= link_to "#{share.share_amount}", household_bill_share_path(share.id, @specific_household.id, @specific_bill.id) %></li>
<% end %>
</ul>

<%= form_for @share, url: {action: "create"} do |b| %>
  <fieldset>
    <legend><%= @legend %></legend>
    <%= b.label :due_date %>
    <%= b.date_field :due_date %>
    <%= b.label :share_amount %>
    <%= b.text_field :share_amount %>
    <%= b.label :person_responsible %>
    <%= b.collection_select(:user_id, User.all, :id, :username, prompt: "Select") %>
    <%= b.label :paid %>
    <%= b.check_box :paid %>
  </fieldset>
  <%= b.submit("Save") %>
<% end%>
<%= link_to "View All Shares", household_bill_shares_path, class: "btn btn-default" %>
<%= link_to "Back to home page", root_path, class: "btn btn-default" %>
