
<h4>Bill Information</h4>
<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>Name</th>
          <th>Amount</th>
          <th>Bill Due Date</th>
          <th>Paid?</th>
        </tr>
        <tr>
          <td><%= @specific_bill.name %></td>
          <td><%= humanized_money_with_symbol(@bill_amount) %></td>
          <td><%= @date.strftime("%m/%d/%Y") %></td>
          <td><%= @specific_bill.paid %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<h4>Shares for <%= @specific_bill.name %></h4>
<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>Person Responsible</th>
          <th>Amount</th>
          <th>Share Due Date</th>
          <th>Paid?</th>
          <th>Payment Type</th>
          <th>Date Received</th>
        </tr>
        <tr>
          <% @shares.each do |share| %>
          <td><%= User.find(share.user_id).username %></td>
          <td><%= humanized_money_with_symbol(share.share_amount) %></td>
          <td><%= share.due_date.strftime("%m/%d/%Y") %></td>
          <td><%= share.paid %></td>
          <% if share.paid %>
            <td><%= share.payment_type %></td>
            <td><%= share.date_received.strftime("%m/%d/%Y") %></td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<h5>Bill Amount Unaccounted for</h5>

<span>
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="350" height="430" id="CalculatorID" title="Embed Calculator">
  <param name="movie" value="http://www.embedcalculator.com/flash/StandardCalculator.swf" />
  <param name="quality" value="high" />
  <param name="wmode" value="opaque" />
  <param name="swfversion" value="9.0.45.0" />
  <!-- This param tag prompts users with Flash Player 6.0 r65 and higher to download the latest version of Flash Player. Delete it if you don't want users to see the prompt. -->
  <param name="expressinstall" value="http://www.embedcalculator.com/Scripts/expressInstall.swf" />
  <!-- Next object tag is for non-IE browsers. So hide it from IE using IECC. -->
  <!--[if !IE]>-->
  <object type="application/x-shockwave-flash" data="http://www.embedcalculator.com/flash/StandardCalculator.swf" width="350" height="430">
    <!--<![endif]-->
    <param name="quality" value="high" />
    <param name="wmode" value="opaque" />
    <param name="swfversion" value="9.0.45.0" />
    <param name="expressinstall" value="http://www.embedcalculator.com/Scripts/expressInstall.swf" />
    <!-- The browser displays the following alternative content for users with Flash Player 6.0 and older. -->
    <div>
      <h4><a href="http://www.embedcalculator.com">Embed Calculator</a> requires a newer version of Adobe Flash Player.</h4>
      <p>You must have the current version of the adobe flash player to use this <a href="http://www.embedcalculator.com">online calculator</a>.</p>
    </div>
    <!--[if !IE]>-->
  </object>
  <!--<![endif]-->
</object>
      </span>
<script type="text/javascript">
      swfobject.registerObject("CalculatorID");
      </script>


<h4>Create a New Share</h4>
<div>
<%= form_for @share, url: {action: "create"} do |b| %>
  <fieldset>
    <legend><%= @legend %></legend>
    <div class="form-group">
      <%= b.label :due_date %>
      <%= b.date_field :due_date %>
    </div>
    <div class="form-group">
      <%= b.label :share_amount %>
      <%= b.number_field :share_amount, data: { role: 'money', a_sep: '.', a_dec: ',' }%>
    </div>
    <div class="form-group">
      <%= b.label :person_responsible %>
      <%= b.collection_select(:user_id, User.all, :id, :username, prompt: "Select") %>
    </div>
    <div class="form-group">
      <%= b.label :paid %>
      <%= b.check_box :paid %>
    </div>
  </fieldset>
  <%= b.submit("Save") %>
<% end%>
<%= link_to "Back to home page", root_path, class: "btn btn-default" %>
