<div class="row">
  <div class="col-lg-12">
    <%= form_for @bill, url: {action: "#{@url}"} do|b| %>
      <fieldset>
        <legend><%= @legend %></legend>
        <%= b.label :name %>
        <%= b.text_field :name %>
        <%= b.label :total_amount %>
        <%= b.text_field :total_amount %>
        <%= b.label :paid %>
        <%= b.text_field :paid %>
      </fieldset>
      <%= b.submit("Save") %>
    <% end%>
    <%= link_to "Back to home page", root_path, class: "btn btn-default" %>
  </div>
</div>
