
<div>
  <h4>Bills For <%= @specific_household.name %></h4>
</div>
<div>
  <%= link_to "Create a New Bill", new_household_bill_path(@specific_household.id), class: "btn btn-default" %>
</div>
<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>Bills That Haven't Yet Been Split</th>
          <th>Shares</th>
        </tr>
            <% @found_bills = false %>
            <% @specific_household.bills.each do |bill| %>
            <% if bill.check_bill_status == "created" %>
              <tr>
                <td><%= link_to "#{bill.name}", household_bill_path(@specific_household.id, bill.id) %></td>
                <td><%= link_to "Update Share Status", household_bill_shares_path(@specific_household.id, bill.id), class: "btn btn-default" %></td>
                <% @found_bills = true %>
              </tr>
            <% end %>
        <% end %>
        <% if @found_bills != true %>
            <tr>
              <td>There are no bills that have this status.</td>
            </tr>
        <% end %>


      </tbody>
    </table>
  </div>

</div>
<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>Bills With Outstanding Shares</th>
          <th>Shares</th>
        </tr>
          <% @found_bills = false %>
        <% @specific_household.bills.each do |bill| %>
          <% if bill.check_bill_status == "created_unpaid_shares" %>
            <tr>
              <td><%= link_to "#{bill.name}", household_bill_path(@specific_household.id, bill.id) %></td>
              <td><%= link_to "Update Share Status", household_bill_shares_path(@specific_household.id, bill.id), class: "btn btn-default" %></td>
            </tr>
            <% @found_bills = true %>
          <% end %>
        <% end %>
        <% if @found_bills != true %>
            <tr>
              <td>There are no bills that have this status.</td>
            </tr>
        <% end %>

      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>All Shares Received</th>
          <th>Shares</th>
        </tr>
        <% @found_bills = false %>
        <% @specific_household.bills.each do |bill| %>
          <% if bill.check_bill_status == "created_all_shares_paid" %>
            <tr>
              <td><%= link_to "#{bill.name}", household_bill_path(@specific_household.id, bill.id) %></td>
              <td><%= link_to "View Shares", household_bill_shares_path(@specific_household.id, bill.id), class: "btn btn-default" %></td>
              <% @found_bills = true %>
            </tr>
          <% end %>
        <% end %>
        <% if @found_bills != true %>
            <tr>
              <td>There are no bills that have this status.</td>
            </tr>
        <% end %>

      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>Paid Bills</th>
          <th>Shares</th>
        </tr>
        <tr>
        <% @found_bills = false %>
        <% @specific_household.bills.each do |bill| %>
          <% if bill.check_bill_status == "bill_paid" %>
            <tr>
            <td><%= link_to "#{bill.name}", household_bill_path(@specific_household.id, bill.id) %></td>
            <td><%= link_to "View Shares", household_bill_shares_path(@specific_household.id, bill.id), class: "btn btn-default" %></td>
            <% @found_bills = true %>
          </tr>
          <% end %>
        <% end %>
        <% if @found_bills != true %>
            <tr>
            <td>There are no bills that have this status.</td>
            </tr>
        <% end %>

      </tbody>
    </table>
  </div>
</div>
