<div>
  <h4>Bills For <%= @specific_household.name %></h4>
</div>

<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>Outstanding Bills</th>
          <th>Shares</th>
        </tr>
        <tr>
        <% @specific_household.bills.each do |bill| %>
          <% if bill.paid == nil %>
            <td><%= link_to "#{bill.name}", household_bill_path(@specific_household.id, bill.id) %></td>
            <td><%= link_to "View Shares", household_bill_shares_path(@specific_household.id, bill.id), class: "btn btn-default" %></td>
        </tr>
          <% end %>
        <% end %>

      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>Paid Bills</th>
          <th>Shares</th>
        </tr>
        <tr>
        <% @specific_household.bills.each do |bill| %>
          <% if bill.paid != nil %>
            <td><%= link_to "#{bill.name}", household_bill_path(@specific_household.id, bill.id) %></td>
            <td><%= link_to "View Shares", household_bill_shares_path(@specific_household.id, bill.id), class: "btn btn-default" %></td>
        </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>



<%= link_to "Create a New Bill", new_household_bill_path(@specific_household.id), class: "btn btn-default" %>
