
<div>
  <h4>Bills For <%= @specific_household.name %></h4>
</div>
<div>
  <%= link_to "Create a New Bill", new_household_bill_path(@specific_household.id), class: "btn btn-default" %>
</div>
<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>Bills That Haven't Yet Been Split</th>
          <th>Shares</th>
        </tr>
        <tr>
          <% @specific_household.bills.each do |bill| %>
            <% if bill.bill_status == "created" %>
              <td><%= link_to "#{bill.name}", household_bill_path(@specific_household.id, bill.id) %></td>
              <td><%= link_to "Update Share Status", household_bill_shares_path(@specific_household.id, bill.id), class: "btn btn-default" %></td>
        </tr>
          <% end %>
        <% end %>

      </tbody>
    </table>
  </div>
  <% end %>
</div>
<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>Bills With Outstanding Shares</th>
          <th>Shares</th>
        </tr>
        <tr>
        <% @specific_household.bills.each do |bill| %>
          <% if bill.bill_status == "created_unpaid_shares" %>
            <td><%= link_to "#{bill.name}", household_bill_path(@specific_household.id, bill.id) %></td>
            <td><%= link_to "Update Share Status", household_bill_shares_path(@specific_household.id, bill.id), class: "btn btn-default" %></td>
        </tr>
          <% end %>
        <% end %>

      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>All Shares Received</th>
          <th>Shares</th>
        </tr>
        <tr>
        <% @specific_household.bills.each do |bill| %>
          <% if bill.bill_status == "created_all_shares_paid" %>
            <td><%= link_to "#{bill.name}", household_bill_path(@specific_household.id, bill.id) %></td>
            <td><%= link_to "View Shares", household_bill_shares_path(@specific_household.id, bill.id), class: "btn btn-default" %></td>
        </tr>
          <% end %>
        <% end %>

      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>Paid Bills</th>
          <th>Shares</th>
        </tr>
        <tr>
        <% @specific_household.bills.each do |bill| %>
          <% if bill.bill_status == "bill_paid" %>
            <td><%= link_to "#{bill.name}", household_bill_path(@specific_household.id, bill.id) %></td>
            <td><%= link_to "View Shares", household_bill_shares_path(@specific_household.id, bill.id), class: "btn btn-default" %></td>
        </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
