<h4>Add a New Bill</h4>
<%= form_for @bill, url: {action: "create"} do |b| %>
  <fieldset>
    <legend><%= @legend %></legend>
    <div class="form-group">
      <%= b.label :name %>
      <%= b.text_field :name %>
    </div>
    <div class="form-group">
      <%= b.label :total_amount %>
      <%= b.number_field :total_amount %>
    </div>
    <div class="form-group">
      <%= b.label :due_date %>
      <%= b.date_field :due_date %>
    </div>
    <div class="form-group">
      <%= b.label :paid %>
      <%= b.check_box :paid %>
    </div>
  </fieldset>
  <%= b.submit("Save") %>
<% end %>
<%= link_to "View All Bills for this Household", household_bills_path(@specific_household.id), class: "btn btn-default" %>
<%= link_to "Back to home page", root_path, class: "btn btn-default" %>
