<div>
  <h3>Bill Details</h3>
    <p>Bill Name: <%= @bill.name %></p>
    <p>Total Amount: <%= @bill.total_amount %>
    <p>Payment Status of Bill: <%= @bill.paid %></p>
    <p>Bill Due Date: <%= @date.strftime("%m/%d/%Y") %></p>
  <%= link_to "View All Bills For This Household", household_bills_path(@specific_household.id), class: "btn btn-default" %>
  <%= link_to "Edit This Bill", edit_household_bill_path(@specific_household.id, @bill.id), class: "btn btn-default" %>
  <%= link_to "Return to Home Page", root_path, class: "btn btn-default"%>
  <%= link_to "Delete Bill", household_bill_path(@specific_household.id, @bill.id), :method => :delete,
      data: { confirm: "Are you sure you want to delete this bill?"}, class: "btn btn-default" %>
  <%= link_to "Split This Bill Into Shares", new_household_bill_share_path(@specific_household.id, @bill.id), class: "btn btn-default" %>
<div>
