<div>
  <h3>Bill Details</h3>
</div>
<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>Name</th>
          <th>Amount</th>
          <th>Paid?</th>
          <th>Bill Due Date</th>
        </tr>
        <tr>
          <td><%= @bill.name %></td>
          <td><%= humanized_money_with_symbol(@bill.total_amount) %></td>
          <td><% if @bill.paid == "f" %>
                <%= "no" %>
              <% elsif @bill.paid == "t" %>
                <%= "yes" %>
              <% end %>
          </td>
          <td><%= @date.strftime("%m/%d/%Y") %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div>
  <%= link_to "View All Bills For This Household", household_bills_path(@specific_household.id), class: "btn btn-default" %>
  <%= link_to "Edit This Bill", edit_household_bill_path(@specific_household.id, @bill.id), class: "btn btn-default" %>
  <%= link_to "Return to Home Page", root_path, class: "btn btn-default"%>
  <%= link_to "Delete Bill", household_bill_path(@specific_household.id, @bill.id), :method => :delete,
      data: { confirm: "Are you sure you want to delete this bill?"}, class: "btn btn-default" %>
  <%= link_to "Show Shares", household_bill_shares_path(@specific_household.id, @bill.id), class: "btn btn-default" %>
<div>
