<!DOCTYPE html>
<html>
<head>
  <title>Roommates</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
<div class="container">
<%= breadcrumbs pretext: "You are here: ",
                separator: " &rsaquo; ",
                display_single_fragment: true,
                style: :bootstrap %>
  <%= yield %>
</div>
</body>
</html>
