<%= form_for @household, url: {action: "#{@url}"} do |b| %>
  <fieldset>
    <legend><%= @legend %></legend>
    <div class="form-group">
      <%= b.label :name %>
      <%= b.text_field :name %>
    </div>
    <div class="form-group">
      <%= b.label :address %>
      <%= b.text_field :address %>
    </div>
    <div class="form-group">
      <%= b.label :move_in_date %>
      <%= b.date_field :move_in_date %>
    </div>
  </fieldset>
  <%= b.submit("Save") %>
<% end%>
<%= link_to "View All Households", households_path, class: "btn btn-default" %>
<%= link_to "Back to home page", root_path, class: "btn btn-default" %>
