<% breadcrumb :household, @household %>
<div>
  <h4>Household Details</h4>
</div>

<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>Move In Date</th>
        </tr>
        <tr>
          <td><%= @household.name %></td>
          <td><%= @household.address %></td>
          <td><%= @household.move_in_date.strftime("%m/%d/%Y")%></td>
        </tr>
      </tbody>
    </table>
    <%= link_to "View Bills for #{@household.name}", household_bills_path(@household.id), class: "btn btn-default" %>
  </div>
<div class="col-md-6">
  <h4>Household Members</h4>
  <table class="table table-striped">
    <tbody>
      <tr>
        <th>Name</th>
        <th>Email</th>
      </tr>
      <tr>
        <% @household_users.each do |user| %>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "Add a Housemate", new_household_user_path(@household.id), class: "btn btn-default" %>
</div>
</div>
<%= link_to "Back to Households Page", households_path, class: "btn btn-default" %>
<%= link_to "Edit Household", edit_household_path(@household.id), class: "btn btn-default" %>
<%= link_to "Delete Household", household_path(@household.id), method: "delete",
    data: { confirm: "Are you sure you want to delete this household?"}, class: "btn btn-default" %>
